@keyframes sway {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes input-color-shift {
  0% {
    background-color: #000000;
  }
  33% {
    background-color: #483d8b;
  }
  66% {
    background-color: #8b008b;
  }
  100% {
    background-color: #191970 ;
  }
}

.input-animated {
  animation: input-color-shift 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
    opacity: 0.8;
  }
  50% {
    transform: translateY(-20px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 0.8;
  }
}


.app-container {
  animation: gradient-shift 10s ease-in-out infinite;
}

.bubble-container {
  position: absolute;
  inset: 0;
  z-index: -1; /* Hintergrund */
  overflow: hidden;
  pointer-events: none; /* Keine Interaktion */
}

.bubble {
  position: absolute;
  border-radius: 50%;
  animation: float 6s ease-in-out infinite;
  transform-origin: center; /* Bewegung um die Mitte */
  opacity: 0.7;
}



/* Farbvarianten */
.bubble-green {
  background-color: rgba(139, 0, 139, 0.4); /* Dunkel-Magenta */
}

.bubble-beige {
  background-color: rgba(72, 61, 139, 0.4); /* Dunkelblau */
}

.bubble-pink {
  background-color: rgba(238, 130, 238, 0.4); /* Hell-Lila (Lavender) */
}

.bubble-purple {
  background-color: rgba(255, 105, 180, 0.4); /* Pink */
}

/* Größenvarianten */
.bubble-small {
  width: 20px;
  height: 20px;
}

.bubble-medium {
  width: 40px;
  height: 40px;
}

.bubble-large {
  width: 60px;
  height: 60px;
}