@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

.title {
  font-family: 'Orbitron', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(90deg, #ffffff, #8b008b, #191970, #8b008b, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.2px #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  position: relative;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  color: #8b008b;
  background: linear-gradient(90deg, #ffffff, #8b008b, #191970, #8b008b, #000000);
  -webkit-background-clip: text; /* Clip den Hintergrund an den Text */
  -webkit-text-fill-color: transparent; /* Textfüllung wird transparent */
  -webkit-text-stroke: 0.2px #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); /* Leichter Schatten für Tiefe */
  font-family: 'Orbitron', Courier, sans-serif;
}


.game-controls {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.game-status {
  text-align: center;
  margin: 10px 0;
  font-family: "Courier New", Courier, monospace;
}

.form-container {
  display: flex;
  flex-direction: row; /* Eingabefelder links, Response rechts */
  justify-content: center;
  align-items: flex-start;
  gap: 40px; /* Abstand zwischen Eingabefeldern und Response-Container */
  margin-top: 10px; /* Weniger Abstand zur Überschrift */
  padding-top: 0; /* Entferne unnötiges Padding */

}

.input-group {
  display: flex;
  flex-direction: column; /* Felder vertikal untereinander */
  align-items: flex-start; /* Linksbündig ausrichten */
  gap: 5px; /* Gleichmäßiger Abstand zwischen den Eingabefeldern */

}

.label {
  font-size: 1rem;
  font-weight: bold; /* Labels heben sich besser ab */
  margin-bottom: 5px; /* Abstand zwischen Label und Eingabefeld */
  color: beige;
  font-family: "Courier New", Courier, monospace;

}

.input {
  width: 300px; /* Einheitliche Breite */
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box; /* Padding und Border in die Gesamtbreite einrechnen */
  background: rgba(25, 25, 112, 0.5);
  color: #ffffff;
  font-family: "Courier New", Courier, monospace;
}

textarea.input {
  height: 100px; /* Höhe für das Nachrichtenfeld */
  resize: none; /* Kein manuelles Vergrößern des Textfelds */
  background: rgba(25, 25, 112, 0.5);
  color: #ffffff;
  font-family: "Courier New", Courier, monospace;
}

.button {
  margin-top: 15px; /* Genug Abstand nach oben */
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  background-color: #191970;
  color: beige;
  cursor: pointer;
  align-self: flex-start; /* Links ausrichten */
  font-family: "Courier New", Courier, monospace;

}

.response-container {
  margin-top: 25px;
  width: 300px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px; /* Abstand nach unten zum Button */
  background: rgba(25, 25, 112, 0.5);
  color: #ffffff;
  font-family: "Courier New", Courier, monospace;
}

.button {
  margin-top: 10px; /* Abstand zwischen Response-Container und Button */
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  background-color: #191970;
  color: white;
  cursor: pointer;
  align-self: center; /* Zentriert den Button unter dem Response-Container */
  font-family: "Courier New", Courier, monospace;
}

.content {
  margin-top: -150px; /* Hebe den gesamten Inhalt nach oben */
}

.response-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.console-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20vh;
  overflow-y: auto;
  border-top: 2px solid rgba(200, 200, 200, 0.6);
  background-color: rgba(190, 190, 190, 0.3);
  font-family: "Courier New", Courier, monospace;
  font-size: 0.9rem;
  color: white;
  padding: 10px;
  text-align: left; /* Zentrierter Text */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.console-container ul {
    padding: 0;
    margin: 0;
    list-style: none; /* Keine Bullet-Points */
}

.console-container li {
    white-space: nowrap; /* Zeilen umbrechen nicht */
    border-bottom: 1px solid #ddd; /* Trennlinie zwischen Logs */
    padding: 5px 0; /* Abstand zwischen den Logs */
    text-align: left; /* Schrift im Listenelement linksbündig */
}

.console-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
    text-align: left; /* Titel der Konsole linksbündig */
}

.wolf-container {
  position: fixed; /* Fixiert das Bild oben links */
  top: 20px; /* Abstand vom oberen Rand */
  left: 20px; /* Abstand vom linken Rand */
  width: 150px; /* Breite des Bildes */
  height: 150px; /* Höhe des Bildes */
  z-index: 1000; /* Stellt sicher, dass es immer sichtbar ist */
}
.wolf-image {
  width: 100%; /* Bild passt sich an den Container an */
  height: auto; /* Beibehaltung der Seitenverhältnisse */
  animation: pulse 3s ease-in-out infinite; /* Animation anwenden */
}

@keyframes pulse {
  0% {
    transform: scale(1); /* Originalgröße */
  }
  50% {
    transform: scale(1.1); /* Vergrößert um 10% */
  }
  100% {
    transform: scale(1); /* Zurück zur Originalgröße */
  }
}