#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/*Antwortcontainer*/

.response-container {
  margin-top: 20px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #fde68a;
  text-align: center;
  color: #2f4f2f;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.response-title{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.response-message{
  font-size: 1.2rem;
  color:#91c788;
}

.console-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.console-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.console-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.console-container li {
    padding: 4px 0;
    border-bottom: 1px solid #ddd;
}