/* Body styling */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background: radial-gradient(circle,
              rgba(139, 0, 139, 0.8) 20%, /* Magenta in der Mitte */
              rgba(25, 25, 112, 0.8) 30%, /* Dunkelblau */
              #000000 100%); /* Schwarz außen */
  color: #ffffff; /* Weißer Text für Lesbarkeit */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 3rem;
  color: #191970;
  margin-bottom: 2rem;
  text-align: center;
  font-weight: 700;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

label {
  font-size: 1.2rem;
  font-weight: bold;
  color: #191970;
}

input,
textarea {
  width: 80%;
  padding: 0.75rem;
  border: 2px solid #191970;
  border-radius: 10px;
  font-size: 1rem;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #191970;
  box-shadow: 0 0 5px rgba(139, 0, 139, 0.8);
}

textarea {
  resize: none;
}

button {
  background-color: #191970;
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #faf0e6;
}

button:disabled {
  background-color: #faf0e6;
  cursor: not-allowed;
}

.response {
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: #faf0e6;
  border: 2px solid #faf0e6;
  text-align: center;
  font-size: 1.2rem;
  color: #191970;
}

#background {
  position: absolute;
  inset: 0;
  z-index: -1;
  overflow: hidden;
}

@keyframes sway {
  0% {
    transform: rotate(-1.5deg);
  }
  50% {
    transform: rotate(1.5deg);
  }
  100% {
    transform: rotate(-1.5deg);
  }
}

@keyframes hover {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}
